@charset "UTF-8";´

*{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

body{
    background-image: linear-gradient(to right, #0FC2C0,#0CABA8);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #011b1b8a;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 { 
    color:#018482 ;
    text-align: center;
    text-shadow: 1px 1px 2px #002121;
}
h2 { 
    color:#023535;
}











p {
    text-align: justify;
}